{% load i18n %}
{% load account_tags %}


<ul class="navbar-nav">
    <li class="nav-item">
            <a class="nav-link" href="{% url 'homes_list' %}">Homes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="{% url 'sensor_list' %}">Devices</a>
        </li>
    {% if request.user.is_authenticated %}
        <li class="navbar-text">
            <i class="fa fa-user"></i> {% user_display request.user %}
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_settings' %}"><i class="fa fa-cog"></i> {% trans "Settings" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="account_logout" href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a>
        </li>
    {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
        {% endif %}
    {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
