{% load i18n %}

{% now "Y" as current_year %}

 <footer class="footer  text-muted">
      <div class="container">
          <div class="row">
              <div class="col-xs">
                  <small> Find out more about us <a href="{%  url 'about_us' %}"> here</a>, contact us <a href="{% url 'contact_us' %}"> here</a></small>
                  <br>
                  <small>  ©  {{ current_year }} Grandeur Smart </small>
              </div>

          </div>

      </div>
    <!-- Copyright -->
     <!-- Footer -->

    </footer>