{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Home page{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<main>
    <section class="jumbotron jumbotron-fluid">
        <div class="container">
            {% include "_messages.html" %}
            <h1 class="display-4">{% blocktrans %}Welcome to {{ SITE_NAME }} {% endblocktrans %}</h1>
            <p class="lead">
                {% blocktrans %}
                Grandeur Smart is a home automation utility that helps you automate homes and buildings.
                {% endblocktrans %}
            </p>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p class="mb-5 lead">{% blocktrans %}Please <a href="{{ login_url }}" class="btn btn-secondary gs-button">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary gs-button">Sign Up</a>{% endblocktrans %}</p>
            {% else %}
                <meta http-equiv="REFRESH" content="0;url={% url 'welcome' %}">
            {% endif %}
        </div>
    </section>
    <section id="content-section">
        <div id="content-body">
            <h2 class="text-center">{% blocktrans %}What is Grandeur Smart?{% endblocktrans %}</h2>
            <p class="lead">
                {% blocktrans %}
                    <b>Built to support any kind of device in your home or building, Grandeur smart is the right choice for <strong>you</strong></b>
                {% endblocktrans %}
            </p>

            <div class="feature-columns row">
                <div class="col">
                    <div class="icon"><i class="fa fa-check-square fa-3x"></i></div>
                    <div class="desc">
                        {% blocktrans %}
                        <b class="text-uppercase">Works offline</b>
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="col">
                    <div class="icon"><i class="fa fa-cubes fa-3x"></i></div>
                    <div class="desc">
                        {% blocktrans %}
                        <b class="text-uppercase">Ubiquitous</b>
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="col">
                    <div class="icon"><i class="fa fa-dollar-sign fa-3x"></i></div>
                    <div class="desc">
                        {% blocktrans %}
                        <b class="text-uppercase">Well Priced</b>
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
     {% include "_footer.html" %}
{% endblock %}
