{% load staticfiles %}
{% load static %}
{% load pinax_webanalytics_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block styles %}<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static "css/app.css" %}" rel="stylesheet" />{% endblock %}

        {% block html5shim %}
            <!-- HTML5 shim, for IE6-8 support of HTML elements -->
            <!--[if lt IE 9]>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
            <![endif]-->
        {% endblock %}

        {% block extra_head_base %}
            <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}" {% block body_extra_attributes %}{% endblock %}>
        <div class="{% block wrapper_class %}{% endblock %}">

            {% block topbar_base %}
               <header>
    <div class="navbar {% block navbar_class %}navbar-expand-lg navbar-light bg-light{% endblock %}">
        <div class="container">
        {% block topbar %}
            {% block site_brand %}<a class="navbar-brand" href="{% url "home" %}"><img alt="Grandeur Smart" width="100" height="100" class="d-inline-block align-top float-left" src="{% static 'img/gs_logo.png' %}"></a>{% endblock %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                        {% block nav_items %}{% comment %}
                        <li class="nav-item"><a class="nav-link" href="#tab_one">One</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab_two">Two</a></li>
                        {% endcomment %}{% endblock %}
                    </ul>
                {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
            </div>
        {% endblock %}
        </div>
    </div>
</header>
            {% endblock %}

            {% block body_base %}
                <section id="content_body">
                    <div class="container">
                        {% include "_messages.html" %}
                        {% block body %}
                        {% endblock %}
                    </div>
                </section>
                <br>
                {% include "_footer.html" %}
            {% endblock %}
        </div>

        {% block scripts %}
             <script src="{% static "js/jquery-3.2.1.slim.min.js" %}"></script>
             <script src="{% static "js/bootstrap.min.js" %}"></script>
             <script src="{% static "js/app.js" %}"></script>
        {% endblock %}

        {% block theme_script %}
        {% endblock %}

        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
