{% extends 'site_base.html' %}
{% load static %}
{% block head_title %}Welcome{% endblock %}
{% block body %}
    <h1 class="page-header">Hello {{ request.user.username }}</h1>
    <div class="row">
        <div class="col-sm-4"> <a class="btn btn-primary gs-button" href="{% url 'homes_list' %}"> HOMES</a> </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">    <a class="btn btn-primary gs-button" href="{% url 'sensor_list' %}">Devices</a></div>
    </div>


{% endblock body %}