{% extends "site_base.html" %}

{% load static %}
{% block head_title %} {{ request.user.username }}'s Sensors {% endblock head_title %}

{% block  body %}
    <section class="row">
        <div class="container" style="padding-bottom: 2%">
            <form class="float-left form-inline col-xs-1 col-md-3 col-lg-4" method='GET' action='' style="padding-top: 2%">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <label class="sr-only" for="sensor_search"> Search Homes:</label>
                    <input class="form-control" style="border-radius: 7%;" type='search' id="sensor_search" name='q' placeholder='By name, state, type. etc' value='{{ request.GET.q }}'/>
                    <button type="submit" style="border-radius: 7%;"  class="button-reset color-inherit bg-transparent bn pa0 ma0 db o-60 absolute center-v right-1 pointer animate-all hover-blue6">
                    <svg aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search fa-w-16 fa-fw">
                        <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" class=""></path>
                    </svg>
                    <span class="sr-only">Search!</span>
                </button>

                </div>
            </form>
        </div>
        <div class="container"></div>
    
        <div class="container">
            <div class="card-columns">
                {% for sensor in sensors %}
                            <div class="card" style=" display: inline-block; " >
                                <div class="card-body">
                                    <h4 class="card-title">Name: {{ sensor.name|title }}</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ sensor.short_name }}</h6>
                                    <div class="card-text">
                                        <p class="">Type: {{ sensor.sensor_type }}</p>
                                        <p class="">State: {{ sensor.state }}</p>
                                        <p class="">Home: {{ sensor.home }}</p>
                                        Other Parameters:
                                        <ul class="list-group list-group-flush">
                                            {% for key, value  in sensor.data.items %}
                                                <li class="list-group-item">{{  key }} : {{ value }}</li>
                                            {% empty %}
                                                <strong>No additional parameters for this device</strong>
                                            {% endfor %}
                                        </ul>
                                        <br>
                                        <a href="{% url 'update_sensor' sensor.pk %}" class="card-link">Edit</a>
                                    </div>
                                </div>
                            </div>
                {% empty %}
                    <strong class="center-block">No Sensors were found!</strong>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
