{% extends "site_base.html" %}

{% load static %}
{% block head_title %} {{ request.user.username }}'s Sensors {% endblock head_title %}

{% block  body %}
    <section class="row">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary gs-button" value="Edit ">
            </form>
        </div>
    </section>
{% endblock %}
