{% extends "site_base.html" %}

{% load static %}
{% block head_title %} Delete Home {% endblock head_title %}
{% block body %}
    <section class="row">
        <div class="container" style="padding-bottom: 2%">
            <a class="float-right btn btn-primary  gs-button col-xs-1 col-md-3" href="{% url 'homes_list' %}"> <i class="fas fa-arrow-circle-left"></i> &ensp; Back to HOMES</a>
        </div>
        <div class="container" style="padding-top: 2%;">
            <form method="post">
            {% csrf_token %}
            <p class="page-header">Are you sure you want to delete home: &nbsp; {{ home.name }} ?</p>
            <input class="btn btn-danger gs-button" type="submit" action="" value="Yes, delete." />
            </form>
        </div>
    </section>
{% endblock body %}
