{% extends "site_base.html" %}

{% load static %}
{% block head_title %}Editing home {% endblock %}

{% block body %}
    <section class="row">
    <div class="container" style="padding-bottom: 2%">
            <a class="float-right btn btn-primary  gs-button col-xs-1" href="{% url 'homes_list' %}"> <i class="fas fa-arrow-circle-left"></i> &ensp; Back to HOMES</a>
    </div>
    <div class="container" style="padding-top: 2%;">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary gs-button" value="Edit Home">
            </form>

        </div>
    </section>
{% endblock body %}