{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block admin_change_form_document_ready %}
{{ block.super }}
    {% if change %}
    <script type="text/javascript">

        function make_unique_fields_readonly() {
        document.getElementById('id_name').setAttribute("readonly", 'readonly');
        django.jQuery("#id_owner option").not(":selected").attr("disabled", "disabled");
        django.jQuery("#id_home option").not(":selected").attr("disabled", "disabled");
        }


        function show_change_notice() {
        // todo prevent new additions of home and name
        var change_notice = "<br><strong>Note: The User, Home and Name fields should not be changed.</strong><br>";
        django.jQuery("#content").find("h1").append(change_notice);      // Append the new elements
        }

        show_change_notice();

        make_unique_fields_readonly();

    </script>
{% endif %}
{% endblock %}